{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    <h1>Hi {{username}}</h1>
    <span class="flex"></span>
    {{#paper-button onClick=(action onLogout)}}
      Logout
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
