{{#with-anything user="service:user" session="service:session" as |_|}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
        {{#if _.session.isAuthenticated}}
          <h1>Hi {{_.user.name}}</h1>
          <span class="flex"></span>
          {{#paper-button onClick=(action (bind _.session 'logout'))}}
            Logout
          {{/paper-button}}
        {{else}}
          <span class="flex"></span>
          {{#paper-button onClick=(action (bind _.session 'login'))}}
            Login
          {{/paper-button}}
        {{/if}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
{{/with-anything}}
