<div class="layout-row layout-align-center-center">
  {{#paper-button accent=true raised=true onClick=(action onPreviousClick)}}
    Previous
  {{/paper-button}}
  {{#paper-button accent=true raised=true onClick=(action onNextClick)}}
    Next
  {{/paper-button}}
</div>
