<div class="layout-column layout-align-center-center">
  <div class="layout-row layout-wrap" style="max-width: 950px;">
    {{#each model as |friend|}}
      {{friend-card
        friend=friend
        class="flex flex-50"
        onDetailsClick=(action onDetailsClick friend.id)
      }}
    {{/each}}
  </div>
</div>
