{{#paper-toolbar}}
  <span class="flex"></span>
  {{#paper-toolbar-tools}}
    <h1>Load Warp Theshold</h1>
    <div class="layout flex-25 layout-align-center-center">
      <span>at {{threshold}}ms</span>
    </div>
    {{paper-slider
      class="flex"
      min=0
      max=1000
      step=50
      value=threshold
      onChange=(action (mut threshold))
    }}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
