{{#with-anything friends="service:friends" session="service:session" as |_|}}
  {{#round-trip model=(call _.friends "fetchFriends") as |_|}}
    <div class="layout-row layout-xs-column">
      <div class="layout-colum flex-xs flex-gt-xs-35" style="margin: auto;">
        {{#each _.model as |friend|}}
          {{friend-card friend=friend}}
        {{/each}}
      </div>
    </div>
  {{/round-trip}}
{{/with-anything}}
