{{#with-anything friends="service:friends" session="service:session" as |_|}}
  {{#round-trip model=(call _.friends "fetchFriends") as |_|}}
    <div class="layout-row layout-xs-column">
      <div class="layout-colum flex-xs flex-gt-xs-35" style="margin: auto;">
        {{#each _.model as |friend|}}
          {{#paper-card as |card|}}
            {{#card.title as |title|}}
              {{#title.text as |text|}}
                {{#text.headline}}{{friend.name}}{{/text.headline}}
                <img width="250" src={{concat "https://www.emberjs.com/" friend.image}} />
              {{/title.text}}
            {{/card.title}}
            {{#card.actions}}
              {{#paper-button raised=true primary=true}}Add to Favourites{{/paper-button}}
            {{/card.actions}}
          {{/paper-card}}
        {{/each}}
      </div>
    </div>
  {{/round-trip}}
{{/with-anything}}
